    .footer {
        background-color: #E5E5E5;
		// .footer__inner
		&__inner {
		}
		// .footer__container
		&__container {
            width: 100%;
		}
}
.wrapper-footer {
    color: #000;
    display: flex;
    justify-content: space-between;
    flex-basis: calc(100% / 3);
    align-items: center;
    padding-left: rem(220);
    padding-right: rem(142);
			@media (max-width:rem(1800)){
				padding-left: rem(200);
				padding-right: rem(130);
			}
			@media (max-width:rem(1650)){
				padding-left: rem(160);
				padding-right: rem(110);
			}
			@media (max-width:rem(1400)){
				padding-left: rem(140);
				padding-right: rem(70);
			}
			@media (max-width:rem(1200)){
				padding-left: rem(80);
				padding-right: rem(50);
			}
			@media (max-width:rem(992)){
    			padding-left: rem(50);
				padding-right: rem(50);
			}
			@media (max-width:rem(768)){
    			padding: rem(20) rem(50);
			}
			@media (max-width:rem(576)){
				flex-basis: 100%;
				flex-direction: column;
			}
		// .wrapper-footer__logo    
		&__logo {
			@media (max-width:rem(768)){
				order: 2;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
		// .wrapper-footer__menu
		&__menu {

		}
		// .wrapper-footer__socials
		&__socials {
		}
}
.footer-logo {
    margin-right: rem(180);
    padding: rem(73) 0;
		// .footer-logo__link
		&__link {
            margin-bottom: rem(19);
            img {
                width: rem(86);
                height: rem(80);
                display: block;
                object-fit: cover;
            }
		}
		// .footer-logo__text
		&__text {
            font-family: futura-pt-demi;
            font-size: rem(14);
            line-height: math.div(18, 14);
			display: block;
		}
		@media (max-width:rem(1800)){
			margin-right: rem(170);
    		padding: rem(71) 0;
		}
		@media (max-width:rem(1650)){
			margin-right: rem(140);
    		padding: rem(68) 0;
		}
		@media (max-width:rem(1400)){
			margin-right: rem(120);
    		padding: rem(62) 0;
		}
		@media (max-width:rem(1200)){
			margin-right: 0;
    		padding: rem(56) 0;
		}
		@media (max-width:rem(992)){
    		padding: rem(50) 0;
		}
		@media (max-width:rem(768)){
    		padding: 0;
		}
}
.menu-footer {
		// .menu-footer__list
		&__list {
            display: flex;
            gap: rem(70);
			font-size: rem(36);
			@media (max-width:rem(1800)){
				font-size: rem(32);
				gap: rem(66);
			}
			@media (max-width:rem(1650)){
				font-size: rem(28);
				gap: rem(60);
			}
			@media (max-width:rem(1400)){
				font-size: rem(24);
				gap: rem(44);
			}
			@media (max-width:rem(1200)){
				font-size: rem(20);
				gap: rem(38);
			}
			@media (max-width:rem(992)){
				font-size: rem(18);
				gap: rem(32);
			}
			@media (max-width:rem(768)){
				flex-direction: column;
				font-size: rem(24);
				gap: rem(20);
			}
			@media (max-width:rem(576)){
				flex-basis: 100%;
				flex-direction: row;
				font-size: rem(22);
			}
			@media (max-width:rem(375)){
				font-size: rem(20);
			}
		}
		// .menu-footer__link
		&__link {
		}
}
.socials-footer {
		// .socials-footer__list
		&__list {
            display: flex;
            gap: rem(74);
			@media (max-width:rem(1800)){
				gap: rem(68);
				font-size: rem(25);
			}
			@media (max-width:rem(1650)){
				gap: rem(60);
				font-size: rem(33);
			}
			@media (max-width:rem(1400)){
				gap: rem(50);
				font-size: rem(30);
			}
			@media (max-width:rem(1200)){
				gap: rem(40);
				font-size: rem(26);
			}
			@media (max-width:rem(992)){
				gap: rem(34);
				font-size: rem(22);
			}
			@media (max-width:rem(768)){
				gap: rem(38);
			}
			@media (max-width:rem(576)){
				gap: rem(38);
				padding: rem(24) 0;
				font-size: rem(26);
			}
		}
		// .socials-footer__link
		&__link {
		}
}